streamlit==1.31.0
streamlit-webrtc==0.47.1
SpeechRecognition==3.10.1
pydub==0.25.1
numpy==1.24.3
av==11.0.0
langchain-community==0.0.19
langchain-groq==0.0.5
langchain-google-genai==0.0.9
faiss-cpu==1.7.4
gTTS==2.5.0
python-dotenv==1.0.1
langchain==0.1.9
typing==3.7.4.3
queue==0.1
logging==0.5.1.2
google-generativeai==0.3.1
