streamlit==1.32.0
streamlit-webrtc==0.47.1
numpy==1.24.3
langchain==0.1.0
langchain-groq==0.2.1
langchain-google-genai==0.0.6
faiss-cpu==1.7.4
google-generativeai==0.3.2
gTTS==2.5.1
SpeechRecognition==3.10.0
soundfile==0.12.1
python-dotenv==1.0.0
av==10.0.0
aioice==0.9.0
aiortc==1.5.0
